<div class="row mb-2">
  <div class="col-md-3">
    <button class="btn btn-md btn-info btn-block"
            [swal]="['Info!', 'Sweet Alert Works!', 'info']">
      Sweet Alert Via Directive</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-md btn-info btn-block"
            (click)="alertViaCall()">
      Sweet Alert Via Call</button>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="Datepicker"
           [bsConfig]="{ isAnimated: true }" bsDatepicker
           [minDate]="minDate" [maxDate]="maxDate"/>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="Daterangepicker"
           [bsConfig]="{ isAnimated: true }" bsDaterangepicker/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
      <div class="form-group">
        <label for="userId">User Id</label>
        <input class="form-control" placeholder="User Id"
               type="email" id="userId" required="true"
               [(ngModel)]="model.userId" name="userId">
      </div>
      <div class="form-group">
        <label for="userPassword">Password</label>
        <input class="form-control" placeholder="Password"
               type="password" id="userPassword" required="true"
               [(ngModel)]="model.password" name="password">
      </div>
      <div class="text-right">
        <button class="btn btn-primary"
                type="submit" value="Sign In">
          <i class="fas fa-sign-in-alt"></i> Sign In
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label for="accessToken">Access Token</label>
      <input class="form-control" type="text"
             name="accessToken" id="accessToken"
             [(ngModel)]="accessToken" disabled>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h4>Merchant List</h4>
      </div>
      <div class="col-md-4 text-right">
        <button type="button" class="btn btn-secondary"
                (click)="refresh()">
          Refresh
        </button>
      </div>
    </div>
    <br/>
    <table class="table table-sm table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th scope="col" width="30">#</th>
        <th scope="col">Name</th>
        <th scope="col">Id No</th>
        <th scope="col">Email</th>
        <th scope="col">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of merchants; index as i;">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.idno}}</td>
        <td>{{item.email}}</td>
        <td>&nbsp;</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
