<!--
<table class="table table-sm table-bordered table-hover">
  <thead>
  <tr>
    <th scope="col" width="40">#</th>
    <th scope="col">Name</th>
    <th scope="col">Designation</th>
    <th scope="col" width="40">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items; index as i;">
    <td class="text-right">{{i+1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.designation}}</td>
    <td class="text-center">
      <button class="btn btn-link btn-sm" (click)="view(item)">
        <i class="fas fa-edit"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
-->
